<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="/"><img src="/public/img/core-img/logo.png" alt="" /></a>
    </div>
    <!-- Account Menu-->
    <nav class="amado-acc">
        <ul>
            <% if (customer == undefined) { %>
                <li class="active">
                    <a href="/login" class="acc-login">
                        <img src="/public/img/core-img/login.png" alt="" />
                        Đăng nhập
                    </a>
                </li>
                <li>
                    <a href="/sign-up" class="acc-signup">
                        <img src="/public/img/core-img/register.png" alt="" />
                        Đăng ký
                    </a>
                </li>
            <% }  %>
        </ul>
    </nav>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/product">Sản phẩm</a></li>
            <li><a href="#">Phí vận chuyển</a></li>
            <li><a href="#">Hỗ trợ</a></li>
            <li><a href="#">Về chúng tôi</a></li>
        </ul>
    </nav>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="/cart" class="cart-nav"><img src="/public/img/core-img/cart.png" alt="" /> Giỏ hàng ( <span style="color: #FBB933;"><%= customer ? customer.listProduct.length : 0 %> </span> )</a>
        <a href="/favorite" class="fav-nav"><img src="/public/img/core-img/favorites.png" alt="" /> Yêu
            thích</a>
        <a href="#" class="search-nav"><img src="/public/img/core-img/search.png" alt="" /> Tìm kiếm</a>
    </div>
</header>
<!-- Header Area End -->