<!-- Header Area Start -->
<header class="header-area clearfix">
    <link rel="stylesheet" href="/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="/"><img src="/public/img/core-img/logo.png" alt="" /></a>
    </div>
    <!-- Account Menu-->
    <nav class="amado-acc">
        <ul>
            <% if (customer == undefined || customer.loginInformation == undefined) { %>
                <li class="active">
                    <a href="/login" class="acc-login">
                        <i class="fas fa-user-circle" style="color: #8f8f8f; margin-right: 6px"></i>
                        Đăng nhập
                    </a>
                </li>
                <li>
                    <a href="/sign-up" class="acc-signup">
                        <i class="fas fa-edit" style="color: #8f8f8f; margin-right: 6px"></i>
                        Đăng ký
                    </a>
                </li>
            <% }  %>
        </ul>
    </nav>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="/">Trang chủ</a></li>
            <li><a href="/product">Sản phẩm</a></li>
            <li><a href="#">Phí vận chuyển</a></li>
            <li><a href="#">Hỗ trợ</a></li>
            <li><a href="#">Về chúng tôi</a></li>
        </ul>
    </nav>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">
        <a href="/cart" class="cart-nav">
            <i class="fas fa-shopping-cart" style="color: #8f8f8f; margin-right: 6px"></i>
            Giỏ hàng ( <span style="color: #FBB933;"><%=customer ? customer.listProduct.length : 0 %> </span> )
        </a>
        <a href="/favorite" class="fav-nav"
        ><i class="fas fa-star" style="color: #8f8f8f; margin-right: 6px"></i> Yêu
            thích</a
        >
        <a href="#" class="search-nav"
        ><i class="fas fa-search" style="color: #8f8f8f; margin-right: 6px"></i> Tìm kiếm</a
        >

        <% if (customer != undefined && customer.loginInformation != undefined) { %>
            <a href="/orders-manager" class="order-fav-nav">
                <i class="fas fa-list-alt" style="color: #8f8f8f; margin-right: 6px"></i> 
                Đơn hàng
            </a>
            <a href="/user-info" class="logout-fav-nav">
                <i class="fas fa-user-circle" style="color: #8f8f8f; margin-right: 6px"></i> 
                Người dùng
            </a>
            <a href="/logout" class="logout-fav-nav">
                <i class="fas fa-sign-out-alt" style="color: #8f8f8f; margin-right: 6px"></i> 
                Đăng xuất
            </a>

        <% }  %>


</header>
<!-- Header Area End -->